.App {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 100%;
}

.ParagraphTwo {
  padding: 10px 30px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-left: 20px;
}

.InputTwo {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.InputHobbies {
  margin-top: 100px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.Input {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-left: 20px;
}

.SwitchButton {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin: auto;
  border-radius: 10px;
  border: transparent;
  background-color: teal;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.SwitchButton:hover {
  background-color: transparent;
  border: 1px solid teal;
  color: teal;
  font-weight: 800;
}